In [1]:
# Import pandas library
import pandas as pd

# Create Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 400000, 350000, 300000, None, 1000000, 300000, 2000000, 200000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

# Create Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

# Create Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

# Save dataframes as CSV files
project_df.to_csv('project_df.csv', index=False)
employee_df.to_csv('employee_df.csv', index=False)
seniority_df.to_csv('seniority_df.csv', index=False)

In [6]:
# Import pandas library
import pandas as pd

# Load the saved project_df CSV
project_df = pd.read_csv('project_df.csv')

# Function to compute running average using a for loop
def fill_running_average(df):
    running_avg = 0
    for i in range(len(df)):
        if pd.isna(df.at[i, 'Cost']):  # Check for missing value
            df.at[i, 'Cost'] = running_avg  # Replace with running average
        else:
            running_avg = df.at[i, 'Cost']  # Update running average
    return df

# Apply the function
project_df = fill_running_average(project_df)

# Save the updated dataframe
project_df.to_csv('project_df_updated.csv', index=False)

# Display the updated dataframe
print("Updated Project DataFrame:")
print(project_df)

Updated Project DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  5500000.0  Finished
5   A002   Project 6   400000.0    Failed
6   A005   Project 7   350000.0  Finished
7   A003   Project 8   300000.0    Failed
8   A001   Project 9   300000.0   Ongoing
9   A003  Project 10  1000000.0  Finished
10  A001  Project 11   300000.0    Failed
11  A004  Project 12  2000000.0   Ongoing
12  A004  Project 13   200000.0  Finished
13  A005  Project 14   200000.0  Finished

In [7]:
# Import pandas library
import pandas as pd

# Load the saved employee_df CSV
employee_df = pd.read_csv('employee_df.csv')

# Split the 'Name' column into 'First Name' and 'Last Name'
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Drop the old 'Name' column
employee_df = employee_df.drop(columns=['Name'])

# Save the updated dataframe
employee_df.to_csv('employee_df_updated.csv', index=False)

# Display the updated dataframe
print("Updated Employee DataFrame:")
print(employee_df)

Updated Employee DataFrame:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxemburg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [8]:
# Import pandas library
import pandas as pd

# Load the saved CSV files
project_df = pd.read_csv('project_df_updated.csv')
employee_df = pd.read_csv('employee_df_updated.csv')
seniority_df = pd.read_csv('seniority_df.csv')

# Merge dataframes on 'ID'
final_df = project_df.merge(employee_df, on='ID', how='left').merge(seniority_df, on='ID', how='left')

# Save the final dataframe
final_df.to_csv('final_df.csv', index=False)

# Display the final dataframe
print("Final DataFrame:")
print(final_df)

Final DataFrame:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  5500000.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000.0    Failed      F   London   27      Alice
6   A005   Project 7   350000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9   300000.0   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11   300000.0    Failed      M    Paris   25       John
11  A004  Project 12  2000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13   200000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxemburg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxemburg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [9]:
# Import pandas library
import pandas as pd

# Load the saved final_df CSV
final_df = pd.read_csv('final_df.csv')

# Add bonus column: 5% of Cost if Status is 'Finished', else 0
final_df['Bonus'] = final_df.apply(lambda row: 0.05 * row['Cost'] if row['Status'] == 'Finished' else 0, axis=1)

# Save the updated dataframe
final_df.to_csv('final_df_bonus.csv', index=False)

# Display the updated dataframe
print("Final DataFrame with Bonus:")
print(final_df)

Final DataFrame with Bonus:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  5500000.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000.0    Failed      F   London   27      Alice
6   A005   Project 7   350000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9   300000.0   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11   300000.0    Failed      M    Paris   25       John
11  A004  Project 12  2000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13   200000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxemburg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  275000.0
5   Luxemburg                  2       0.0
6       Johny                  3   17500.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   50000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2   10000.0
13      Johny                  3   10000.0

In [10]:
# Import pandas library
import pandas as pd

# Load the saved final_df_bonus CSV
final_df = pd.read_csv('final_df_bonus.csv')

# Demote designation level by 1 where Status is 'Failed'
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Remove records where designation level is above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated dataframe
final_df.to_csv('final_df_demote.csv', index=False)

# Display the updated dataframe
print("Final DataFrame after Demotion:")
print(final_df)

Final DataFrame after Demotion:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  5500000.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000.0    Failed      F   London   27      Alice
6   A005   Project 7   350000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9   300000.0   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11   300000.0    Failed      M    Paris   25       John
11  A004  Project 12  2000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13   200000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxemburg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  275000.0
5   Luxemburg                  1       0.0
6       Johny                  3   17500.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   50000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2   10000.0
13      Johny                  3   10000.0

In [11]:
# Import pandas library
import pandas as pd

# Load the saved final_df_demote CSV
final_df = pd.read_csv('final_df_demote.csv')

# Add "Mr." or "Mrs." to the First Name based on Gender
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Drop the Gender column
final_df = final_df.drop(columns=['Gender'])

# Save the updated dataframe
final_df.to_csv('final_df_title.csv', index=False)

# Display the updated dataframe
print("Final DataFrame with Titles:")
print(final_df)

Final DataFrame with Titles:
      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  5500000.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   400000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   350000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   300000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9   300000.0   Ongoing    Paris   25    Mr. John
9   A003  Project 10  1000000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11   300000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  2000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13   200000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxemburg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  275000.0
5   Luxemburg                  1       0.0
6       Johny                  3   17500.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   50000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2   10000.0
13      Johny                  3   10000.0

In [13]:
# Import pandas library
import pandas as pd

# Load the saved final_df_title CSV
final_df = pd.read_csv('final_df_title.csv')

# Promote designation level by 1 for employees over 29 years using if condition
for index, row in final_df.iterrows():
    if row['Age'] > 29:
        final_df.at[index, 'Designation Level'] += 1

# Save the updated dataframe
final_df.to_csv('final_df_promote.csv', index=False)

# Display the updated dataframe
print("Final DataFrame after Promotion:")
print(final_df)

Final DataFrame after Promotion:
      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  5500000.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   400000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   350000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   300000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9   300000.0   Ongoing    Paris   25    Mr. John
9   A003  Project 10  1000000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11   300000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  2000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13   200000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxemburg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  3       0.0
4       Johny                  4  275000.0
5   Luxemburg                  1       0.0
6       Johny                  4   17500.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   50000.0
10      Alter                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3   10000.0
13      Johny                  4   10000.0

In [15]:
# Import pandas library
import pandas as pd

# Load the saved final_df_promote CSV
final_df = pd.read_csv('final_df_promote.csv')

# Group by ID and sum the Cost
total_cost_df = final_df.groupby('ID').agg({'Cost': 'sum'}).reset_index()

# Merge with First Name from the original dataframe
total_cost_df = total_cost_df.merge(final_df[['ID', 'First Name']].drop_duplicates(), on='ID', how='left')

# Reorder and rename columns to match "ID", "First Name", "Total Cost"
total_cost_df = total_cost_df[['ID', 'First Name', 'Cost']].rename(columns={'Cost': 'Total Cost'})

# Save the new dataframe
total_cost_df.to_csv('total_pro_cost.csv', index=False)

# Display the new dataframe
print("Total Project Cost DataFrame:")
print(total_cost_df)

Total Project Cost DataFrame:
     ID  First Name  Total Cost
0  A001    Mr. John   1602000.0
1  A002  Mrs. Alice   2400000.0
2  A003     Mr. Tom   5800000.0
3  A004   Mrs. Nina   7700000.0
4  A005    Mrs. Amy   6050000.0

In [16]:
# Import pandas library
import pandas as pd

# Load the saved final_df_promote CSV
final_df = pd.read_csv('final_df_promote.csv')

# Filter employees whose city contains 'o' (case insensitive)
employees_with_o = final_df[final_df['City'].str.contains('o', case=False)]

# Display the filtered dataframe
print("Employees whose city contains 'o':")
print(employees_with_o)

Employees whose city contains 'o':
      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   400000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  2000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13   200000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level    Bonus
1   Luxemburg                  2      0.0
3       Adgra                  3      0.0
5   Luxemburg                  1      0.0
11      Adgra                  3      0.0
12      Adgra                  3  10000.0